[2017-10-05 13:18] andy5995 opened #1 "index.html needed"
~~An index page is needed so something appears at http://mhwkb.github.io/ insetead of a 404 error page. ;)~~

[2017-10-05 13:24] andy5995 opened #2 "link manager or links entered through the GitHub project page"
Should a link manager be used, or should links be added and updated through the GitHub project page?

A link manager would require an executable script to be executed and more prone to security risks.

[2017-10-05 14:39] andy5995 commented on #1
Ooops.. I see that URL won't work because the first part has to match my username or organization name.

https://pages.github.com/

I'm not sure how to correct that yet.

Maybe it would be easier to just have all the links displayed by browsing the repo, and forget about a web site.

But it seems that a program that can parse links would be better in the long-term.

Open to discussion...

[2017-10-05 15:19] andy5995 commented on #1
I renamed the repo, dropping the _.github.io_ part of it.

[2017-10-05 16:48] SunyataZero commented on #1
@andy5995 I can help out here i think, i have some experience both with user/org sites as well as "repo sites", there are different options, you can use jekyll or another static site generator and jekyll can even be integrated for repo pages if i recall. Also it's possible to use the docs folder rather than a gh-pages branch, though this gives less flexibility. Kind Regards, Tord

[2017-10-05 18:42] andy5995 opened #5 "add your favorite mental health related links"
Add your favorite mental health related links to the .md files in the [Knowledge_Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base) directory. Create a new.md file if needed.

Please remember to "star" this project (upper right corner).

See [CONTRIBUTING.md](https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTING.md) for important information about **tagging guidelines** and *

[2017-10-05 22:50] andy5995 opened #6 "general web site layout"
What I see is that the home page would link to the top categories (the .json files).

If one goes to view "communities", the list will display.

Basically the goal would be something similar to a categorized directory such as this: https://psychcentral.com/resources/

But using tags that might help narrow a search.

It would be nice is links were displayed randomly, not alphabetically. So users ha

[2017-10-05 22:52] andy5995 opened #7 "add veterans.json"
The _template.json file can be used to add veterans.json

No need to add links yet, but please do so if you feel like it.

[2017-10-05 22:54] andy5995 opened #8 "add nonprofitorgs.json"
The _template.json file can be used to add nonprofitorgs.json

No need to add links yet, but please do so if you feel like it. Some may be moved from other files, such as NAMI and OSMI that's currently in education. If moved, add the "education" tag.

[2017-10-05 22:57] SunyataZero commented on #6
Are you limited to static sites (in other words html+js) or is it possible to use different hosting than github? (and then maybe using drupal or plone for example?)

[2017-10-06 00:30] #7 closed

[2017-10-06 00:47] andy5995 opened #11 "CONTRIBUTORS.md file needed"
I'd like to acknowledge people who help with this project by adding a `CONTRIBUTORS.md` file.

A link to it in README.md (near the contact section) and in CONTRIBUTING.md (at the top)

At the top of `CONTRIBUTORS.md`, a link to:
https://github.com/andy5995/mhwkb/graphs/contributors

Followed by a list.

The format of the list of contributors should just be:

`nickname (full name)`

Full name optio

[2017-10-06 00:50] #8 closed

[2017-10-06 01:23] Nefari0uss commented on #11
If this is still open I can make a `CONTRIBUTORS.md` doc.

[2017-10-06 06:32] #11 closed

[2017-10-06 08:36] andy5995 commented on #6
I would like to stick with free, reliable hosting. I don't know what kind of permissions GitHub allows users yet (i.e. what scripts can be run, if I can use server side includes, what file types are allowed). I haven't investigated the options you mentioned in #1 yet. I'll let the matter rest for a bit and talk things over with you more (I need to clear my head). Thanks a lot for helping me figure

[2017-10-06 15:38] SunyataZero commented on #6
Github unfortunately doesn't support any server-side code, so basically only html+js. I have some experience with Drupal and WordPress but i don't know how to find cost-free hosting, i've used shared hosting myself when running and helping out with different projects, which is pretty cheap but not cost-free. Kind Regards, Tord

[2017-10-06 17:25] andy5995 opened #16 "01add handheld_device_apps.md"
Please add `01handheld_device_apps.md` to the [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base) directory.

Add at least three apps to the file. Some ideas are in a recent article by @desirottman: _[7 Tech-Driven Ways to Improve Your Mental Health](https://medium.com/ifme/7-tech-driven-ways-to-improve-your-mental-health-2ebc01557ca9)_

Please remember to "star" this pr

[2017-10-06 17:31] andy5995 opened #17 "add 01open_source_software.md to the KB"
Please add `01open_source_software.md` to the [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base) directory.

Add at least four projects to the file. Be sure to add this one:
https://github.com/SunyataZero/mindfulness-at-the-computer

Please remember to "star" this project (upper right corner).

See https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTING.md for help w

[2017-10-06 22:46] andy5995 opened #21 "add `01music_therapy.md`"
Please add `01music_therapy.md` to the [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base) directory.

Some ideas can be found in @desirottman's article _[13 Songs to Reduce Anxiety & Stress](https://medium.com/ifme/13-songs-to-reduce-anxiety-stress-58eb9b362867)_

 Add at least three links to the file.

Please remember to "star" this project (upper right corner).

 See

[2017-10-07 02:39] seancyw commented on #21
Hi @andy5995, I would like to work on this issue :)

[2017-10-07 04:05] andy5995 commented on #21
Thanks @seancyw :)

[2017-10-07 04:15] andy5995 opened #22 "Add mental health links in your native language"
Mental health-related links in other languages would be a good thing.

Create a directory (2-digit language code) under [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base) Use uppercase letters when creating the directory.

You can work on any letters you like. :)

You can just add a few files and links to get the new language folder started.

Open a [new issue](https://

[2017-10-07 04:48] lauragift21 commented on #17
Can i take this up?

[2017-10-07 05:07] andy5995 commented on #17
Yes, you may. :) Thank you @lauragift21 ...

[2017-10-07 05:30] andy5995 commented on #17
Closed by #23 , Thanks!

[2017-10-07 05:30] #17 closed

[2017-10-07 17:25] andy5995 commented on #21
Closed by #24

[2017-10-07 17:25] #21 closed

[2017-10-07 19:12] andy5995 opened #25 "mhwKB as software instead of a web site"
I wrote out some notes regarding the possibility for making the Knowledge Base available through software rather than a web site.

https://etherpad.net/p/mhwKB_program

Open for discussion... Feel free add to the etherpad.

[2017-10-07 19:13] andy5995 commented on #6
Thanks @SunyataZero . I'm still thinking about the web site. But here is a related post #25

[2017-10-08 02:31] andy5995 commented on #6
# Updated 2017-10-07
## Basic design
### Home page
* Three columns, 20 links in each column (randomized if possible)
  * pagination (next <-> previous
* clicking on a tag will bring up a new page
  * three columns 20 links per column (randomized)
  * pagination
* Language selection
  * I opened an issue to add links in other languages (#22)

### external RSS feeds
* I don't know how well they'd fi

[2017-10-08 02:54] andy5995 commented on #1
This issue is now covered in #6 . Closing...

Thanks @SunyataZero

[2017-10-08 02:54] #1 closed

[2017-10-09 02:09] andy5995 commented on #2
No link manager.

[2017-10-09 02:09] #2 closed

[2017-10-09 16:23] andy5995 opened #27 "links to be added"
If you don't have time to do a PR, you can add links to this ticket.

If you do have time to do a PR, please add some of these links to the KB. :)

Please remember to "star" this project (upper right corner).

 See [CONTRIBUTING.md](https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTING.md) for important information about **tagging guidelines** and **categorization**

To Add:

https://mensmove

[2017-10-09 23:23] andy5995 opened #28 "Information and resources to support mental wellness | Another GitHub project"
@agelender has recently started a GitHub project called [Information and resources to support mental wellness](https://github.com/agelender/mental-health-resources)

[Crisis links from that repo](https://github.com/agelender/mental-health-resources/blob/master/Supporting-People-Through-Crisis.md)

[2017-10-10 05:00] andy5995 commented on #6
First web site is live. Very pre-alpha-ish ;)
https://mhwkb.github.io/

The code that generated most of it: https://github.com/andy5995/mhwkb/blob/master/mhwkb_md2html.c

[2017-10-11 04:57] andy5995 opened #32 "center the text on the web site"
A lot of the CSS and html code is in

https://github.com/andy5995/mhwkb/blob/master/html_functions.c

It should be somewhat clear by looking at the other .c file how it's applied:

https://github.com/andy5995/mhwkb/blob/c16659583fee5a7647c22acc619eaa23a0b0872a/mhwkb_md2html.c#L163

It may be a bit confusing for those not familiar with C, but you'll see basically that the formatting is the same, ju

[2017-10-11 05:12] andy5995 commented on #32
Oh, and I'm sure it would be better to put the CSS code into a CSS file, having it load from the .html head, and remove it completely from the C
source code.

[2017-10-11 05:43] andy5995 commented on #32
@Krazete may be working on this. So for right now, let's not make any more changes. (comments on #33)

[2017-10-11 16:40] andy5995 opened #36 "make web pages "mobile-friendly""
It seems that some web sites can detect if it's being viewed on a cell phone and auto switches from desktop version to mobile-friendly version.

I'd be satisfied with just a message that displays at the bottom "make page mobile-friendly".

The code for that would be needed.

When viewed on a cell phone right now, the biggest problem is that the font is too small.

https://mhwkb.github.io/

Please

[2017-10-11 16:50] dafky2000 commented on #36
Looks pretty straight forward, I should be able to do this either this evening or tomorrow morning quickly.

[2017-10-11 17:01] andy5995 commented on #36
Thanks @dafky2000 .

The web pages are generated by the C program, so I won't work on that today. :) Is it likely you'll be making many changes to the .CSS file?

[2017-10-11 17:03] dafky2000 commented on #36
I hope that I should only need to touch the CSS. I have experience with C if I need to add some HTML headers as well :)

[2017-10-11 17:07] andy5995 commented on #32
Ok, @Krazete made some changes to the centering.

Let's leave this be for now while @dafky2000 works on #36

[2017-10-11 17:29] andy5995 commented on #36
Cool. :)

I think the easiest way to test any new CSS is to clone the repo from where the html files are served: https://github.com/mhwkb/mhwkb.github.io

But submit your PR to this repo.

[2017-10-11 18:23] Krazete opened #37 "separate HTML from C code"
There should be an HTML template separated (as much as possible) from the C code. The result should be something like this:
HTML Template File:
[code]
Article Template File:
[code]
C Code:
[code]
This [link](http://mo.notono.us/2008/07/c-stringinject-format-strings-by-key.html) might be helpful.
I hardly know anything about C though (and I apologize if my example code is rubbish), so I dunno if th

[2017-10-11 21:13] andy5995 commented on #37
Thanks for this suggestion @Krazete . Definitely need things to be more efficient, and makes it easier for multiple people to work at the same time.

And don't worry about your example code. Everything gets worked out over time. We're not too strict here, and examples like you gave are good starting points.

We need to wait for #36 to be finished before starting this.

I'll look over the info with

[2017-10-11 21:23] andy5995 commented on #25
I don't see this happening anymore. Maybe after the web site is finished and if someone is interested in doing it I'd reconsider.

[2017-10-11 21:23] #25 closed

[2017-10-11 21:33] andy5995 opened #38 "add pagination to web site"
This has to wait until #37 and #36  are resolved

Web site will need pagination on the index and tag pages.

So imagine a navigation bar added near the top, linking to each page:

For example, if there are 73 links on index.html (20 links per page):
`<Next 1 2 3 4 Last>`

If there are 33 links on a `<tag>.html` page:
`<Next 1 2  Last>`

I expect it will require some discussion on how to implement

[2017-10-11 22:03] andy5995 commented on #6
This is being discussed in #36 #37 #38 and #32

[2017-10-11 22:08] SunyataZero commented on #36
Hi all, i haven't used this myself (i've been relying on themes like bootstrap to handle these things) but i think this may be useful: https://www.w3schools.com/css/css_rwd_mediaqueries.asp

[2017-10-12 02:36] dafky2000 commented on #36
I was going the media queries route but making the site "responsive" should suffice for the scope of this issue.

[2017-10-12 04:06] #36 closed

[2017-10-12 17:03] andy5995 commented on #32
@Krazete I get the impression that #37 should be resolved before making any more changes to the stylesheet. Do you agree?

[2017-10-12 17:05] andy5995 commented on #37
@Krazete You've apparently read more on this subject than I have. Would you be interested in trying to work on this ticket? You mentioned you don't have much experience with C, but I can give you some guidance if improving your C skills is one of your goals.

[2017-10-12 17:18] dafky2000 commented on #37
@andy5995 I'll take seconds on this if @Krazete doesn't want it :)

Are you opposed to using external libraries? I general prefer header-only libraries but I'm not entirely sure what is out there other than Mustach (http://mustache.github.io/) (c implementation: https://gitlab.com/jobol/mustach).

[2017-10-12 17:52] andy5995 commented on #37
No, I'm not opposed to external libraries if that would be easiest for you to get the job done.

The main consideration is that only HTML and JS can be used for the web site (afaik). We can use binaries to generate the html files and templates, and then they get uploaded to the server (which I do manually).

Is that basically what you have in mind?

[2017-10-12 17:56] andy5995 commented on #37
@Krazete assuming dafky2000 is going to take this ticket, please let me know if you'd like to work with C a bit more and I'll keep it in mind for future tickets.

[2017-10-12 17:58] dafky2000 commented on #37
Basically, I noticed that's what is already being done so I'll try to keep it in the same spirit, one change at a time / per issue :)

Don't worry about (not) working on files at the same time, this one may take a minute. I'll keep up to date and resolve merge conflicts as I go!

Perfect prep work with the src and templates directories :)

[2017-10-12 18:00] andy5995 commented on #37
@dafky2000 I'd strongly recommend syncing your repo first
https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTING.md#syncing

And then following the procedure for PR's above it. Should make things quite a bit easier in the long-term, and that procedure works great for working on most any project on GitHub. A great way to help prevent merge conflicts. ;)

Oh, thanks for noticing my prep work. :)

[2017-10-12 18:07] andy5995 commented on #37
Since you're fork is already one commit ahead because of your previous patch, you may get some errors when trying to `git merge upstream/master'

If that happens use `git reset --hard c6ac335dd4d009ca0334f91dee81946034a5187f`

Then try merging the upstream again.

The first time you push the master branch after that, use 'push -f`. After that, you shouldn't need the -f (force) when you push your f

[2017-10-12 18:20] andy5995 opened #42 "Too many emails from this project?"
First, a note to all people "Watching" issues on this project.

"Watching" means you may get a ton of emails from this project. I know that when collaborators join, they are automatically subscribed. I just wanted to remind people that it's totally optional, and that you may want to switch to "Not watching: be notified when participating or @mentioned".

[2017-10-12 18:36] Krazete commented on #32
Any changes to the CSS now would probably be easy enough to modify to fit any new HTML format later. But yeah, I'd say it's preferable to complete #37 first.

[2017-10-12 18:46] dafky2000 commented on #32
Honestly, I wouldn't worry about finishing #37 first so long as your changes are only to the CSS file contents :)

[2017-10-12 19:00] andy5995 commented on #32
@dafky2000 He'll need to access some of the html to make the design more sexy. We'll wait for you. :)

[2017-10-12 19:03] dafky2000 commented on #32
I will be a couple or few days before I get anywhere with this if that changes anything.

[2017-10-12 21:06] andy5995 commented on #32
Nope, doesn't change anything. Take your time. :)

[2017-10-12 21:20] dafky2000 opened #43 "Create Makefile"
Will make building and linking easier for #37

[2017-10-12 21:21] andy5995 commented on #43
Are you going to assign this to yourself or to me? ;)

[2017-10-12 21:32] dafky2000 commented on #43
sorry... I was rushed haha

[2017-10-12 21:33] dafky2000 commented on #43
and yes I will be doing as part of #37

[2017-10-12 21:33] dafky2000 commented on #43
and yes I will be doing as part of #37

[2017-10-13 01:39] andy5995 opened #44 "Create xml feed"
Here's the format, pretty basic, but it [validates](https://validator.w3.org/feed/#validate_by_input).

[code]

a `<link>` tag will need to be added to the `<head>` and the pages will need some small rss icons.

But don't start on this until #37 is done. We can discuss a few things about it though. ;)

[2017-10-13 02:57] andy5995 commented on #44
I found some problems with the feed. Fixed, and added four more items.

[2017-10-13 03:09] andy5995 commented on #44
@UnicornRiley

The code is one line. I'll be telling you which file to add it to. usually it would go directly in the html file, like so... : http://www.rssboard.org/rss-autodiscovery

Same with this:

rss icons that are hyperlinked to the feed URL, one at the top of each page, one at the bottom.

And again, I'll be telling you into which file to put the code. The files are being worked on atm.

I

[2017-10-13 03:18] UnicornRiley commented on #44
Sure,  I can.

[2017-10-13 04:15] baohouse commented on #44
I suggest putting tags in the <category> element.

[2017-10-13 18:07] andy5995 commented on #44
Good idea @baohouse

I think this feed should be auto-generated instead.

When new links are added to the KB, they can be manually copied to  "recently_added.md" (doesn't exist yet) in the same PR.

The feed would be generated at the same time the other html files are generated.

The date string for `<pubDate>` could be passed from the command line as argv[2].
* Problem: it would use the same date

[2017-10-13 18:14] andy5995 opened #45 "html filenames should not have spaces"
I'm going to write some code that will replace ' ' with '_' for html filenames.

@dafky2000 I'll merge it **after** your patch is merged in.

[2017-10-13 19:17] andy5995 commented on #38
Here's one method I thought of:

Do a "dry-run" first, getting the count for each tag.

So.. no html files would be written, only the tag names would be counted.

If 23 links were tagged with "books", that number would be stored in books.txt.

After the "dry-run", we'd know how how many pages would be needed for each "books" page (after some simple math), so could output a pagination nav bar when

[2017-10-13 20:37] andy5995 opened #48 "Switching from Gitter chat to a Slack workspace"
Hi Team. I don't think Gitter is a good choice for chat now that we're getting more users. We're going to transition to a Slack workspace. I hope this doesn't inconvenience anyone. Here's an invite link

https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYTViNmQ5MTdjOTk2MDA2MDMyMzNiYjU4ZWIzMTZlNmU4ZjFhNDg1MjQ5OGQyMjI

[2017-10-14 05:46] parthsuresh commented on #38
This approach seems fine @andy5995 . Shall I start working on it?

[2017-10-14 17:01] andy5995 commented on #38
That'd be great if you take this ticket! But we have to wait for #37 to be completed. Thanks!

@parthsuresh I invited you to be a collaborator, once you accept that I can assign this ticket to you.

[2017-10-14 20:42] #43 closed

[2017-10-14 20:56] #45 closed

[2017-10-15 02:42] andy5995 commented on #38
@dafky2000 wrote in #37

@parthsuresh It should be ok now to set up that 2D array, but I don't think there would be much point in making the links until Dan's template is in place.

[2017-10-15 06:25] andy5995 opened #52 "last tag on <tag>.html pages is wrong"
last tag on `<tag>`.html pages is wrong

For example:

https://mhwkb.github.io/blogs.html

The last tag for each article is hyperlinked to the tag preceding it.

It's not a problem on index.html, only the tag pages.

**Wait for #51 to be merged before working on this.**

If you want this issue, reply to it and assign it to yourself (if you're a collaborator).

[2017-10-15 12:50] #37 closed

[2017-10-15 17:37] andy5995 opened #54 "minor changes related to the new template design"
#51 is an awesome patch! Thanks, @dafky2000

Everyone should take a look at (and star) Dan's new library that he made from the code he wrote to implement templates for mhwkb. https://github.com/dafky2000/simplectemplate

Some pretty minor changes are needed.

@dafky2000 if you don't mind, I'll take care of these issues. It'll help me get familiar with your new code. I'll point out the diff in case

[2017-10-15 19:15] andy5995 commented on #32
@Krazete the template you suggested has been implemented. Would you like to handle the initial HTML and CSS design? The color scheme and styles used now were mostly examples I copied and pasted from a CSS tutorial, and I'm not attached to the current colors or styles.

You're welcome to join the [chat room[(https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYT

[2017-10-15 20:03] andy5995 commented on #38
@parthsuresh I got your messages in Slack. Sounds like you completed part of this :) And PR #51 has been merged so you should be able to add nav links easily now.

[2017-10-15 21:59] Krazete commented on #32
Yeah, the template is beautifully done. Thanks @dafky2000!
@andy5995 I'm slacking on my classes so I can only do some basic things.
Maybe you can close this issue and open up another one for general design and layout?

[2017-10-15 23:18] andy5995 commented on #32
@Krazete I see you've been able to make some changes. Thanks!  And yes, i can open another ticket.

Instead of pushing directly to the upstream, do a PR from your fork instead. PR's are easier to review, and will prevent too many pushes being done at one time.

[2017-10-15 23:21] Krazete commented on #32
Ah, sorry. I'll do that next time.

[2017-10-15 23:23] andy5995 commented on #32
I did the same thing once when given collaborator access. ;) No worries.

[2017-10-16 00:42] #54 closed

[2017-10-16 03:37] dafky2000 opened #57 "Fix memory leaks detected by valgrind"

[2017-10-16 03:50] #57 closed

[2017-10-16 05:34] andy5995 commented on #32
@Krazete just an FYI, you may have seen a message about a bug. There was some issue with the C code not processing article_link.html correctly after you added _class="tag". That's been fixed (andy5995/mhwkb#56), and all your changes are now live on the web site. Thanks.

[2017-10-16 05:34] #32 closed

[2017-10-16 05:38] andy5995 opened #60 "CSS and HTML design"
Someone named Eric joined Slack earlier tonight, interested CSS and html design. But...

@UnicornRiley , you expressed an interest first. Are you interested in trying to improve the site's design?

You'd be editing the templates and the css file, all in this directory: https://github.com/andy5995/mhwkb/tree/master/templates.

Please read this before making any changes. It will make your life a lot

[2017-10-16 05:45] andy5995 commented on #28
This resource was added to the KB. Closing...

[2017-10-16 05:45] #28 closed

[2017-10-16 05:47] andy5995 commented on #6
I think this ticket has been rendered irrelevant. Thanks @SunyataZero

[2017-10-16 05:47] #6 closed

[2017-10-16 16:42] erichoog commented on #60
@andy5995 I went ahead and created a pull request to implement bootstrap 4 and change the tags to use a bootstrap badge component but when after building and running the app, i got a buffer overflow error, all the html files were created except for index.html.  I can submit a new issue if need be.

[2017-10-16 16:45] UnicornRiley commented on #60
I am still interested

[2017-10-16 16:46] erichoog commented on #60
@UnicornRiley Sorry I hadn't seen this before submitting the PR, my apologies!

[2017-10-16 16:47] UnicornRiley commented on #60
@erichoog No worries, we could work on it together if you'd like, my schedule should be evening out a ton since school's started back

[2017-10-16 17:05] dafky2000 opened #62 "Update simplectemplate from develop"
This will require changing the functions calls of `render_template` to `render_template_file`. I may not have time for this in the next few day but I also likely wont be pushing that to master in that time either. When I have time I'll fix this before I push to master but anyone is welcome to take care of it :).

[2017-10-16 17:08] dafky2000 commented on #62
https://github.com/dafky2000/simplectemplate/tree/develop

[2017-10-17 02:29] andy5995 opened #63 "add existing (temporary) RSS feeds"
@UnicornRiley Could add these two feeds?

https://github.com/mhwkb/mhwkb.github.io/commits/master.atom
https://github.com/andy5995/mhwkb/commits/master.atom

That requires 2 lines be added between the head tags, One line for each feed

You can use this, edit as needed.

[code]

For _title_ use "Temporary RSS feed"

You can put those lines below L7 in this file https://github.com/andy5995/mhwkb/blo

[2017-10-17 03:48] andy5995 commented on #62
@dafky2000 Thanks for opening this ticket. I may take care of it if you need to save some time. How about if we touch base about it in a few days if no one else takes the ticket?

Re: using the label `up-for-grabs`; we're listed on the [Up For Grabs](http://up-for-grabs.net/#/) site. These are some guidelines they recommend:

[code]
Could you explain in more detail what this patch involves?

[2017-10-17 06:28] andy5995 opened #67 "docs for testing CSS/generating html"
@erichoog wrote in #61

Yes, I was thinking of that since you mentioned the other night it took you a while to figure out how the site was generated. The program was written just a few days ago and had a major upgrade 2 days ago, so documentation hasn't been put in place yet. Would you like to do a PR to add an outline of the process?

[2017-10-17 11:39] dafky2000 commented on #62
@andy5995 This patch provides template rendering from a string. Previously, you could only render from a file, so now, `render_template_file` simply retrieves the file contents and calls `render_template`. I hope to keep breaking changes to a minimum but this one had to happen now rather than later.

* Rename function calls in https://github.com/andy5995/mhwkb/blob/master/src/mhwkb_md2html.c
  * `

[2017-10-17 13:16] erichoog commented on #67
I could certainly do this when i have a few spare moments.  If anyone else wants to they can also go ahead if I haven't done this yet.

[2017-10-17 14:31] erichoog commented on #60
@UnicornRiley sounds good! I have opened up another PR for bootstrap 3, after the bug fixes were implemented I was able to test.

@andy5995 If you are concerned about the linking to external websites for the bootstrap CDN's we, we could maybe add an "assets" folder in the templates folder and place the CSS / JS / Fonts folders from bootstrap in there and then maybe alter the C program to copy the

[2017-10-17 18:23] andy5995 commented on #67
Thanks @erichoog . I've labeled the ticket accordingly. (it's up-for-grabs, atm)

Eric, though I haven't merged one of your PRs yet, I still consider you a contributor because of the info and POV you've presented. You can add yourself to https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTORS.md if you like.

[2017-10-17 18:41] erichoog opened #69 "Should we implement Bootstrap 3 for CSS?"
We are trying to determine if there is any thoughts from the community on implementing Bootstrap 3 for the CSS of the site.  Does any one have any input on this?

Please see the screenshots and conversation on PR #68 for some context.

Is implementing Bootstrap overkill for a simple site like this?

If we do should we reference the CDN's or download the source files and include them in the project

[2017-10-17 19:42] Krazete commented on #69
I was able to replicate those screenshots with plain CSS (and a bit of HTML restructuring) in ~10 minutes, so on one hand I second @andy5995's opinion and I'd say it's overkill.

On the other hand, using Bootstrap would ensure the website looks good across all browsers, be it desktop or mobile.

But then again, for a website this simple in structure, it wouldn't be hard at all to fix cross-browser

[2017-10-17 19:47] #67 closed

[2017-10-17 21:54] andy5995 commented on #60
This was actually my fault. In my rush I told @erichoog to work on the same thing that I had already offered to @UnicornRiley . I'm noob project manager. I'm sorry for the confusion.

[2017-10-17 21:56] andy5995 commented on #62
@parthsuresh mentioned he was more interested in C than html/css. Parth, would you want to take this ticket after you're done with #38 ?

[2017-10-18 04:29] andy5995 commented on #69
Thanks for your perspective @Krazete . That the site looks good across all browsers is important to me.

Typically when I host projects, I like to provide people opportunities to learn and practice.

I  guess I had better make a decision. If @UnicornRiley is unable to start giving us an initial design by Friday night, I'll merge the PR @erichoog submitted.

If we wind up not using bootstrap now, w

[2017-10-18 04:32] andy5995 commented on #60
@UnicornRiley you've got this ticket, if you still want it. The initial site design is all you. Let us know if you need help. I would just need an answer by Friday. You don't have to complete it by then, just please let us know if you'll be able to take it on.

[2017-10-18 05:54] #52 closed

[2017-10-18 19:19] Krazete commented on #69
If Bootstrap is used, I recommend reading [this](https://stackoverflow.com/questions/26192897/should-i-use-bootstrap-from-cdn-or-make-a-copy-on-my-server).

[2017-10-18 20:41] erichoog commented on #69
@Krazete having some redundancy there if we did end up using Bootstrap would be a great idea.

Thanks for the link!

I guess I'm a little biased on this topic because I'm a fan of using Bootstrap but always open to other schools of thought!

[2017-10-18 23:06] #62 closed

[2017-10-19 07:01] andy5995 opened #78 "tags.txt needs updating"
https://github.com/andy5995/mhwkb/blob/38f1eb9b68bc7748d44cd4561dab9a566af8f681/tags.txt#L5

This can be done by
1.  forking the repo where the html files are stored: https://github.com/mhwkb/mhwkb.github.io

2. Clone the repo to your computer

3. Use `dir` or `ls` to [redirect the output to a text file](https://www.lifewire.com/how-to-redirect-command-output-to-a-file-2618084).

4. Load the file

[2017-10-19 10:03] moidmw commented on #78
As in replace `.html` extenstion to `NULL` text..? @andy5995

[2017-10-19 12:19] erichoog commented on #78
@moidmw I'm not 100% but I think he meant replace .html with nothing.  Looking at the previous entries it looks like the .html was just removed from the file names.

[2017-10-19 12:40] moidmw commented on #78
I too thought that but going by the intstruction it says to "replace".. that is what is confusing. @erichoog

[2017-10-19 15:43] andy5995 commented on #78
@erichoog wrote:

Exactly!

[2017-10-19 23:47] andy5995 commented on #69
@erichoog , UnicornRiley seems to be MIA. I haven't heard from him in several days. We'll use Bootstrap. Can you set up that redundancy thing before I merge the PR? And make the tags oval-shaped?

For now, we'll do single column, but I like the 3-column idea and we'll probably revisit that soon.

[2017-10-19 23:54] andy5995 commented on #60
We'll be using Bootstrap (#69)

[2017-10-20 01:15] erichoog commented on #69
sounds good i'll work on that

[2017-10-20 03:58] bealearnscode commented on #16
I would like to work on this.

[2017-10-20 03:59] andy5995 commented on #16
ok. :) Thanks!

[2017-10-20 04:44] #60 closed

[2017-10-20 04:44] #69 closed

[2017-10-20 05:25] andy5995 commented on #16
Completed (2533183349fc7bc0502b868d8f5e99b30538f8ea)

[2017-10-20 05:25] #16 closed

[2017-10-20 05:34] andy5995 opened #87 "format of the KB/md entries"
[code]
I first set things up so the files would be in JSON format, but switched to the current format so the links in the KB could be browseable and clickable through GitHub (for easier viewing and testing).

When I switched to this format, I tried to make sure that switching to a different format could be done with a "search and replace" in any text editor.

Does anyone have ideas about a format?

[2017-10-20 05:38] andy5995 opened #88 "Displaying three links per row on the web site"
displaying three links per row

as shown in the image here:
https://github.com/andy5995/mhwkb/pull/68#issuecomment-337322779

I see one problem, that the boxes would be uneven from top to bottom. Other than that, I like the design.

Open to discussion....

[2017-10-20 05:44] andy5995 opened #89 "alignment of tags"
The alignment of tags on the web site doesn't look very nice (esp when viewed on my Android). Any suggestions on how to improve it?

[2017-10-20 05:46] andy5995 opened #90 "how to display the date field on the web site"
The date field that displays with each link needs some design. I don't have anything in mind, but if you have some ideas, please post them here. Thanks.

[2017-10-20 05:53] andy5995 opened #91 "Visible page heading title design"
Ideas on what to use for the visible page heading on the `<tag>`.html pages? And any background decoration/color?

https://mhwkb.github.io/veterans.html

Some options would be:

# Mental Health and Wellness Knowledge Base
## veterans ##

or

# veterans #
## Mental Health and Wellness Knowledge Base

or

## veterans | Mental Health and Wellness Knowledge Base

or leave as is.

## veterans

[2017-10-20 06:00] andy5995 opened #92 "When viewed in Firefox for android, tags don't wrap on tag dot html pages"
When viewed in Firefox for android, tags don't wrap on tag dot html pages

I didn't test it yet in other mobile browsers.

The list exceeds the right border of my cell phone.

This is likely due to the C source code. If anyone know of another cause, let me know. But I'll investigate our code a bit more and give an update here.

[2017-10-20 13:28] erichoog commented on #92
@andy5995 I beleive it is due to this change:

https://github.com/andy5995/mhwkb/commit/50c12ff9d99c04181115d8aec9345494b35c495a#diff-803c5170888b8642f2a97e5e9423d399

[2017-10-20 17:26] andy5995 commented on #92
The same result happens in Chrome for android.

I'm going to clean up the code a bit today. Looks like some newlines would fix the problem on the tag pages.

Here's the html code difference

## index.html

[code]

## tag dot html

[code]

[2017-10-20 17:53] andy5995 opened #94 "add info or a link on how to use Bootstrap"
We need to add information or a link about using [Bootstrap](http://getbootstrap.com/). Some css devs may never have used it.

Can be added to

https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTING.md

near the bottom, above the *Testing info.

[2017-10-20 19:49] #92 closed

[2017-10-21 05:13] #94 closed

[2017-10-21 18:04] andy5995 opened #97 "Add SV (Swedish) mental health links"
make an SV directory under [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base/) and add some links.

Ex. Sites or articles that begin with "w"  should go into SV/w.md

the file format

[code]

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0Z

[2017-10-21 18:07] andy5995 opened #98 "Add ES (Spanish) mental health links"
make an ES directory under [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base/) and add some links.

Ex. Sites or articles that begin with "w"  should go into ES/w.md

the file format

[code]

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0Z

[2017-10-21 18:09] andy5995 opened #99 "Add DE (German) mental health links"
Please only accept this ticket if you are a native German speaker or fluent in the German language.

Ex. Sites or articles that begin with "w"  should go into DE/w.md

the file format

[code]

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYTViNmQ5

[2017-10-21 18:13] andy5995 opened #100 "add PT-BR (Brasilian Portuguese) language mental health links"
make an PT-BR directory under [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base/) and add some links.

Ex. Sites or articles that begin with "w"  should go into PT-BR/w.md

the file format

[code]

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjY

[2017-10-21 18:14] andy5995 opened #101 "Add VI (Vietnamese) language mental health links"
make an VI directory under [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base/) and add some links.

Ex. Sites or articles that begin with "w"  should go into VI/w.md

the file format

[code]

Add a minimum of 3 links.

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invit

[2017-10-21 18:15] andy5995 opened #102 "Add HI (Hindi) Language mental health links"
Ex. Sites or articles that begin with "w"  should go into HI/w.md

the file format

[code]

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYTViNmQ5MTdjOTk2MDA2MDMyMzNiYjU4ZWIzMTZlNmU4ZjFhNDg1MjQ5OGQyMjI).

See [CONTRIBUTING.md](https://github.com/a

[2017-10-21 18:24] andy5995 opened #103 "Add NL (Dutch) language mental health links"
Make an NL directory under [Knowledge Base](https://github.com/andy5995/mhwkb/tree/master/Knowledge_Base/) and add some links.

Ex. Sites or articles that begin with "w"  should go into NL/w.md

the file format

[code]

Please remember to **"star"** this project (upper right corner) and feel free to [join the project chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0Z

[2017-10-21 21:48] aimlessblitz commented on #103
I'll do this

[2017-10-21 23:36] jamielthompson29 commented on #91
Hi, would you be interested in a maybe a graphic or something? I might be able to put something together, post it here for review, add it then make a pull request? :)

[2017-10-21 23:38] jamielthompson29 commented on #89
I would like to think a little more on this one, but that raised a question for me. I noticed I can click on a tag & it will search, but what about a searching option at the top maybe? Sorry if this is already in the issues list & I just haven't seen it.

[2017-10-21 23:39] andy5995 commented on #91
Yes, that would be great! We have no graphic designers on our team yet!

I'm not very good at design, so I haven't tried to visualize anything. I was hoping for people who would be interested in presenting their own ideas!

The color theme of the site hasn't been written in stone yet (We just recently got a basic design with CSS in place). So I would say it's not necessary to try to match our curr

[2017-10-21 23:41] jamielthompson29 commented on #91
Ok cool I'll mess around & see what I can come up with :)

[2017-10-22 00:47] andy5995 opened #105 "search box for web site"
@jamielthompson29 wrote in #89

Oh, no worries. No one has asked about it yet, but I realized that it would be an issue that came up. So.. good question!

Right now, the site is on GitHub's servers, and I'm not sure yet how I'd implement a search feature such as you suggested (I've done it on other servers, I just don't have much xp with GitHub servers). We started discussing changing the software

[2017-10-22 00:54] andy5995 opened #106 "Should we implement Firebase?"
@parthsuresh mentioned this as a way to better manage links and make things more user-friendly

https://github.com/firebase/

He mentioned the site couldn't be served from a github.io domain, so we'd have to think about a hosting service. I've used [Hostgator](http://www.hostgator.com/) before and don't remember any problems with them.

[2017-10-22 01:25] erichoog commented on #105
One thing I had thought of is that if we had the links stored in JSON format or in a DB for the back-end  (#87) we could use a front-end framework or something like AngularJS and use the filtering features of that.  That would take some pretty big changes with everything as it is now but it's just a thought.

[2017-10-22 02:41] erichoog commented on #106
Are you mainly looking at free services?

[2017-10-22 02:45] andy5995 commented on #106
Free and open for the site software, but am willing to pay for domain registration and hosting

[2017-10-22 03:06] erichoog commented on #105
I'm not 100% sure this would make sense but if the C program could produce a .json file or embed a collection in the header or something then you could use that to provide data to AngularJS and its all client side so i would think it would work on the GitHub pages.

[2017-10-22 16:51] jamielthompson29 commented on #90
Maybe I could make a switch to write the date out, i.e. "date: 2012-11-23" could be "November 23, 2012" & if there isn't a date, maybe just have nothing there instead of "date: n/a"

[2017-10-22 19:30] parthsuresh commented on #106
Shifting to Firebase will give the users the option to directly upload their links on the website(we can store them in the Firebase database), instead of writing a markdown file and adding it to the repository which makes things a lot easier for them.

However, something we must consider is that this will lead to a complete shift in our approach. As there are no markdown files, we won't need to ex

[2017-10-22 19:59] andy5995 opened #109 "dates can be removed"
https://github.com/andy5995/mhwkb/blob/5a129e51b0e76e3e12cf60baa0b4705e127d93ba/src/main.c#L157

This will require minor changes to the source code and the templates.

They don't have to removed from the entries in the KB all at once. That can be worked on by multiple people over time.

[2017-10-22 20:00] andy5995 commented on #90
Thanks for the suggestions @jamielthompson29 . Per our discussion in Slack, the dates will be removed (#109)

[2017-10-22 20:00] #90 closed

[2017-10-22 20:28] jamielthompson29 commented on #109
I would like to try to hit this later tonight :) If someone hits it before me thats fine :)

[2017-10-23 01:42] andy5995 commented on #106
Would  they be required to register?

I think we're in agreement that the best solution would be where a user would just enter into a form: title, link, tags.

I tried to learn a little about Firebase. My first impression is that It seems like waaayyyy more than what's needed.

I agree a database is a better option than what we're doing now.

That can be done with C (note to anyone who happens to

[2017-10-23 01:48] andy5995 commented on #105
@erichoog Thanks for your voice. :) I think we'll hold off on this for now. I replied in more detail in https://github.com/andy5995/mhwkb/issues/106#issuecomment-338526816 which may set a record for the longest github comment EVER

[2017-10-23 02:40] jamielthompson29 commented on #109
I have removed it from the template successfully & pushed it up on a branch of my fork. Working on removing it from other files, but getting some complaints when I run "make".  I will have to pick back up on this tomorrow or the next day though. Let me know if you need me to make a PR for what I have so far :)

[2017-10-23 04:02] andy5995 commented on #109
Thanks @jamielthompson29

Normally it's best to make a separate branch for separate issues.

Sounds like you're having trouble with `make` after editing some of source code, so yes, you can push your changes if you're stuck and I'd be glad to take a look.

Ok, we'll touch base when it's convenient. :)

[2017-10-23 04:32] #78 closed

[2017-10-23 15:18] erichoog commented on #63
@andy5995 is this partly covered by this commit? https://github.com/andy5995/mhwkb/pull/68/files#diff-fb5aa1cd1261d08d02db6f7dc314d9ab

I could add another RSS link and label the two differently.

[2017-10-23 15:54] andy5995 commented on #63
Thanks for the offer @erichoog , I had decided to add the second one to the README but not use it on the web site.

Forgot to close the ticket.

[2017-10-23 15:54] #63 closed

[2017-10-23 16:01] andy5995 commented on #44
I think the existing feed will be adequate, if not ideal. Maybe we'll revisit this in the future.

[2017-10-23 16:01] #44 closed

[2017-10-23 16:02] #48 closed

[2017-10-23 17:30] SunyataZero commented on #106
@andy5995 I have only read about Jekyll in the above text but i think they have some pagination, i found this: https://jekyllrb.com/docs/pagination/

[2017-10-23 17:37] erichoog commented on #106
@andy5995 Maybe we could have the C program continue to generate the HTML files as it is, but also generate a .json file to hold all of the data as if it was in a database, then we could use a frontend framework to pull in that data and display it in more of a Single Page Application type of format.  This would sort of allow for the features that seems to come up alot (pagination, easier searching

[2017-10-23 18:06] parthsuresh commented on #106
@andy5995 Firebase does have a lot of other features unnecessary for us :sweat_smile: I was looking to minimize the cost while getting maximum functionality, which is why I recommended Firebase. Wordpress will work perfectly well too :+1: But we'll have to pay for Wordpress hosting, right? Or we can continue with the same structure, just include a database like MySQL. @erichoog 's approach should

[2017-10-23 20:08] andy5995 opened #117 "This repo has a new URL"
This repo now has a new URL. GitHub has an "organization" feature that I'm learning about, and I transferred the repo from my individual account to the `mhwkb` organization that I created.

All links should redirect automatically and no members or users should have to change anything.

*If you've already set your upstream* for syncing (https://github.com/mhwkb/mhwkb/blob/master/CONTRIBUTING.md#syn

[2017-10-23 22:06] andy5995 opened #118 "adding disqus"
I was toying of the idea of adding [disqus](https://disqus.com/) for each article.

It seems pretty simple to add. The only requirement seems to be we'd need a separate page for each article.

My idea so far on how to do that...

When the c app reads the entries, convert the URL of a link by changing each letter to its ASCII equivalent, stripping off the https://, that should give us a unique arti

[2017-10-26 01:27] #109 closed

[2017-10-26 02:07] andy5995 commented on #118
I did a little work on this. The changes so far can be viewed at https://github.com/mhwkb/mhwkb/commit/72fa7560efc21b5438e2215c7c254a781feca10d

Example of what an article_id looks like:

httpsyzzwwwxgoodreadsxcomzbookzshowz239464xYour_Drug_May_Be_Your_Problem

I'd convert the letters to a single digit,but not sure yet how to handle the International characters yet.

It might be better for SEO to

[2017-10-26 03:06] andy5995 opened #125 "Testing CSS may be a little different now that languages are installed"
For testing of most CSS changes, you may not even have to change anything.

You'll notice the language links won't work, but you may also notice the assets directory can't be found.

To test the language directory **(not necessary unless you are testing generating the International html files)**

1. Load the index.html as you normally would
2. You'll see the DE link. If you click on that, you woul

[2017-10-26 03:18] andy5995 opened #126 "enlarge tags and increase font"
If I recall correctly, @parthsuresh noted that the tags needed to be bigger.

They're not too bad on the desktop but on mobile devices.

We use the [Bootstrap](https://github.com/mhwkb/mhwkb/blob/master/CONTRIBUTING.md#css-design-we-use-bootstrap) toolkit for CSS.

[2017-10-26 14:17] nealkarpe commented on #126
Hi! Can I be assigned to this?

[2017-10-26 17:42] andy5995 opened #127 "Implementing Jekyll"
I'm not completely familiar with @jekyll yet, but from what I can tell so far, it seems like a very suitable option.

If there's no objections, let's switch to it.

Can @parthsuresh handle the initial set-up?

[2017-10-26 17:55] andy5995 commented on #126
Hi @nealkarpe Thanks for your interest.

Yes, you can be. But we'll likely be switching to another site. I'm not sure exactly when yet. If you'd still like to work on this, please do. :)

[2017-10-26 18:00] andy5995 commented on #106
Well, that's good to know about @SunyataZero !

Sounds like Jekyll is the best option, until such a time that I buy a domain and get some monthly hosting that supports script execution, mysql databases (or [maria](https://mariadb.org/)), and other goodies. I worry if I ever had a cash-flow problem... If ever a time came when i couldn't pay the bill, suddenly - no more web site!

I feel pretty secu

[2017-10-26 18:09] andy5995 commented on #118
I expect adding disqus can be done with Jekyll (#127).

To help make things a bit clearer, thought I'd post the instructions

1. Place the following code where you'd like Disqus to load:
[code]

2. (Recommended) Edit the RECOMMENDED CONFIGURATION VARIABLES section using your CMS or platform's dynamic values. See our documentation to learn why defining identifier and url is important for preventing

[2017-10-26 18:18] nealkarpe commented on #126
Ok, I'll work on this. :smiley:

[2017-10-26 18:21] andy5995 commented on #38
afaik, @parthsuresh  hasn't started on this yet.

This would be done a different way after jekyll is implemented (#127)

https://jekyllrb.com/docs/pagination/

[2017-10-26 23:22] andy5995 commented on #127
@erichoog said he would be interested in the initial set up if @parthsuresh was unavailable.

@SunyataZero (Tord) said he has some experience and offered his help if we needed it.

At the start, we'll make the changes on the gh-pages branch here. The site will show up at https://mhwkb.github.io/mhwkb/

After everything is set up, we'll copy everything over to the repo at https://github.com/mhwkb/m

[2017-10-27 17:40] andy5995 commented on #127
I'm thinking a blog-type format would be best, so it'll be a little different from up-for-grabs

With up for grabs, clicking a link will direct the user to the external site.

What's needed is a separate page for each link, so disqus can be used.

So visualize.. "Wordpress" style, but the body of each "post" will only contain the link to the external site. The "post" will have tags (edited)

But t

[2017-10-27 20:26] sonro commented on #27
Hi there I would like to add the links listed here to the KB

[2017-10-27 20:54] andy5995 commented on #27
Hi @sonro

Thanks for the offer. We are going to be reformatting the data files soon, but after that, you're welcome to add some links. I'll follow up with you here when the time comes. You're welcome to join the chat room, too.

[2017-10-27 20:57] sonro commented on #27
Excellent, I'll stay subscribed to this issue. I am also happy to help move over the existing links to the new format once it has been established.

[2017-10-28 03:54] erichoog commented on #127
This might take me a while to learn.  I've been able to get a basic Jekyll site running on my local machine but still learning how to work with the template engine etc.

In looking for information on how to add tags to be displayed in the post pages I came across an example where someone has added discus, so this page / repo might be helpful for reference:

https://github.com/codinfox/codinfox-lan

[2017-10-28 17:21] andy5995 commented on #127
I'll spend some time today trying to learn more about jekyll. Maybe I can push a bare bones set-up to the repo and we can go from there.

[2017-10-28 17:37] erichoog commented on #127
That sounds good to me!  I don't think creating the post files will be too difficult but.more so just learning the template engine. I'm hoping to have some time to work on more later as well!

-------- Original message --------
From: Andy Alt <notifications@github.com>
Date: 2017-10-28 1:21 PM (GMT-05:00)
To: mhwkb/mhwkb <mhwkb@noreply.github.com>
Cc: Eric <Eric_hoog@hotmail.com>, Assign <assign@n

[2017-10-28 17:39] andy5995 commented on #127
http://import.jekyllrb.com/docs/wordpressdotcom/

I had a wordpress xml file that contained posts, categories, and pages. I successfully ran the importer so have some pretty good examples!

[2017-10-29 16:28] andy5995 opened #132 "Primary project repo will be moving to https://github.com/mhwkb/mhwkb.github.io"
We're working on a new web site that will hopefully be easier to manage.

The primary project repo will be moving to https://github.com/mhwkb/mhwkb.github.io (where the web site html files are currently located; those html files will soon be deleted)

The URL of the live web site will not change (https://mhwkb.github.io/)

Thanks for all your help, everyone. :) I probably would have quit by now if

[2017-10-30 01:53] andy5995 commented on #118
Reconsidered. Would be nice, but the extra time moderating comments for the life of the project doesn't appeal to me. Also, there are discussions on the other end of most of the links that are in the KB.

[2017-10-30 01:53] #118 closed

[2017-10-30 02:19] andy5995 commented on #125
This is now obsolete (#132)

[2017-10-30 02:19] #125 closed

[2017-10-30 02:20] andy5995 commented on #106
Not using Firebase ;) https://github.com/mhwkb/mhwkb/issues/118

[2017-10-30 02:20] #106 closed

[2017-10-30 02:22] andy5995 commented on #126
This can be done on the new Jekyll site when it's ready. (#132)

Are you still interested in doing this @nealkarpe ? I can ping you when the time comes. I hope you weren't inconvenienced.

[2017-10-30 02:23] andy5995 commented on #117
See #132 for an update.

[2017-10-30 02:23] #117 closed

[2017-10-30 07:04] nealkarpe commented on #126
Hi really sorry for the delay. I was preoccupied with some other work. I'll finish this now asap! Please assign this similar issue to me in the new repo. Cheers! :smile:

[2017-10-30 07:25] nealkarpe commented on #126
The other repo seems ready? Should I go ahead and make a PR or is there something still pending?

[2017-10-30 16:23] andy5995 commented on #126
Hi @nealkarpe thanks for following up. No problem about the delay. It kind of worked out well. :)

We are working on the new site on a different branch in this repo. When it's ready, it will be deployed (probably within the next 3 or 4 days) to the master branch of the other repo. That will be the best time to do the PR, and will ensure that GitHub will record your contribution properly.

[2017-10-30 17:20] andy5995 commented on #27
Hi @sonro

The format of the posts now:

filename must be preceded by the date, in this format:
(Use the date you create the post file)
2017-10-28-side_effects_book_alison_bass.md

[code]

You'll be doing your PR at this repo, adding files to this directory:

https://github.com/mhwkb/mhwkb.github.io/tree/master/_posts

The posts will be live on our new site, once it's deployed in a few days, but y

[2017-10-31 22:55] andy5995 commented on #126
@nealkarpe I believe we are all ready for you.

The information you need is here, but we haven't refined the docs yet. So if you have any questions, let us know.

https://github.com/mhwkb/mhwkb.github.io/wiki/Testing

[2017-11-02 00:48] andy5995 commented on #27
To make this easier, you can now  use the jekyll post generator that @luiemilio created:

https://github.com/luiemilio/jekyll_post_generator

[2017-11-03 16:31] #126 closed

[2017-11-08 02:33] andy5995 commented on #27
@sonro , Feel free to do as many as you like, but don't get burnt out! :) Thanks a lot for your recent submissions!

[2017-11-08 18:51] andy5995 commented on #105
moved to mhwkb/mhwkb.github.io#63

[2017-11-08 18:51] #105 closed

[2017-11-08 18:52] andy5995 commented on #127
This is completed, and the new repo is at https://github.com/mhwkb/mhwkb.github.io

[2017-11-08 18:52] #127 closed

[2017-11-13 23:59] mbabatunde commented on #27
Hi, I'd like to help out with this issue too! How can I get started?

[2017-11-14 03:05] andy5995 commented on #27
Hi @mbabatunde . Thanks for the offer. The project page has moved ot

https://github.com/mhwkb/mhwkb.github.io

These tickets show a couple links that can be added:

https://github.com/mhwkb/mhwkb.github.io/issues?q=is%3Aissue+is%3Aopen+label%3A%22link+suggestion%22

Other details are in this ticket:
https://github.com/mhwkb/mhwkb.github.io/issues/11

Please let me know if you have any other quest

[2017-12-01 22:11] localhostpedro commented on #100
@andy5995 can you assign me ?

[2017-12-01 22:47] andy5995 commented on #100
This repo is deprecated, but the info for the new one is at https://github.com/mhwkb/mhwkb.github.io/issues/11

[2017-12-01 23:07] andy5995 commented on #100
@localhostpedro I added a ticket on the other repo for this: https://github.com/mhwkb/mhwkb.github.io/issues/113

I'm sorry for the confusion.

[2017-12-01 23:07] #100 closed

[2017-12-04 19:37] andy5995 commented on #97
This repo is deprecated. The new one is at https://mhwkb.github.io/

[2017-12-04 19:37] #97 closed

[2017-12-04 19:38] andy5995 commented on #88
This repo is deprecated. The new one is at https://mhwkb.github.io/

[2017-12-04 19:38] #88 closed

[2017-12-04 19:38] andy5995 commented on #42
This repo is deprecated. The new one is at https://mhwkb.github.io/

[2017-12-04 19:38] #42 closed

[2017-12-04 19:39] andy5995 commented on #5
This repo is deprecated. The new one is at https://mhwkb.github.io/

[2017-12-04 19:39] #5 closed

[2017-12-04 19:39] andy5995 commented on #22
This repo is deprecated. The new one is at https://mhwkb.github.io/

[2017-12-04 19:39] #22 closed

[2017-12-07 21:07] andy5995 commented on #103
The NL posts are at https://github.com/mhwkb/mhwkb.github.io/tree/master/jekyll/_posts/NL

[2017-12-07 21:07] #103 closed

[2017-12-07 21:07] #102 closed

[2017-12-07 21:08] #101 closed

[2017-12-07 21:08] #98 closed

[2017-12-07 21:08] #99 closed

[2017-12-07 21:08] #91 closed

[2017-12-07 21:08] #89 closed

[2017-12-07 21:09] #87 closed

[2017-12-07 21:09] #38 closed

[2017-12-07 21:16] andy5995 commented on #27
I'll add the 4 remaining links at the top to the new site within the next week.

[2017-12-07 21:16] #27 closed